## Данные. Всё же .csv

Описание содержания [всё ещё верно](https://s3.us-west-2.amazonaws.com/secure.notion-static.com/9d417b96-c50f-478a-ad75-9da03c28df21/resume_description.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20201217%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20201217T150518Z&X-Amz-Expires=86400&X-Amz-Signature=81edd5cc9af7504461b914442f2c40edc7878648ed15aaedf32759fe55963c4f&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22resume_description.pdf%22).

In [1]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error

In [2]:
# Основная выборка, разбитая на train и test

train = pd.read_csv(Path('../data/raw/train.csv'), sep=';')
test = pd.read_csv(Path('../data/raw/test.csv'), sep=';')

# Дополнительные данные 

# ed = pd.read_csv(Path('../data/raw/education.csv'), sep=';')
# ws = pd.read_csv(Path('../data/raw/worldskills.csv'), sep=';')
# em = pd.read_csv(Path('../data/raw/employements.csv'), sep=';')

C:\Users\glebe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [4]:
train['pub_year'] = pd.to_datetime(train['publish_date'], format="%Y-%m-%d").dt.year
train['pub_month'] = pd.to_datetime(train['publish_date'], format="%Y-%m-%d").dt.month
test['pub_year'] = pd.to_datetime(test['publish_date'], format="%Y-%m-%d").dt.year
test['pub_month'] = pd.to_datetime(test['publish_date'], format="%Y-%m-%d").dt.month

In [5]:
class Naive(object):
    def __init__(self):
        self.dict = {}
        self.ind = {}
        self.mean = 0
    def fit(self, X):
        self.dict = X.groupby(['industry', 'schedule'])['salary'].mean().to_dict()
        self.ind = X.groupby(['industry'])['salary'].mean().to_dict()
        self.mean = X['salary'].mean()
    def _get_dict(self, vld):
        key = (vld[0], vld[1])
        result = self.dict.get(key, self.ind.get(vld[0], self.mean))
        return result
    def predict(self, X):
        result = X[['industry', 'schedule']].apply(lambda x: self._get_dict(x), axis=1 )
        return result

## Формат решения

In [6]:
from sklearn.model_selection import KFold
import pdb
import numpy as np
kf = KFold(n_splits=3, random_state=7, shuffle=True)

In [37]:
metric = []
for train_index, test_index in kf.split(train):
    est = Naive()
    X_train, X_test = train.loc[train_index], train.loc[test_index]
    est.fit(X_train)
    predict = est.predict(X_test)
    metric.append(np.sqrt(mean_squared_log_error(X_test['salary'], predict)))

In [38]:
metric

[1.0930867118576613, 1.1052726107453885, 1.104805890311971]

In [39]:
np.mean(metric)

1.1010550709716738

In [7]:
# И здесь всё же .csv
X_prep = test.copy()
est = Naive()
est.fit(train)
X_prep['salary'] = est.predict(X_prep)

In [9]:
X_prep[['id', 'salary']].head()

   id        salary
0   2  51165.203477
1   6  51165.203477
2   7  45457.727924
3  11  42163.552082
4  16  38777.160684

In [16]:
solution.head()

   id        salary
0   2  45941.323678
1   6  45941.323678
2   7  45941.323678
3  11  45941.323678
4  16  45941.323678

In [10]:
X_prep[['id', 'salary']].to_csv(Path('../submissions/naive_solution.csv'), sep=',', index=False)

## Откуда взять данные и куда сдавать ответ

### Платформа

[Kaggle](https://www.kaggle.com/): нужно зарегистрироваться и ожидать ссылку на приватное соревнование. 

### Важно

Называйте команду так же, как в общей системе хакатона.
Ваши результаты в этом соревновании не добавят вам рейтинга в `kaggle`, потому что соревнование непубличное.

### Публичная и приватная таблица лидеров

Внутри `kaggle` тестовая выборка разделена на приватную и публичную. Какие именно наблюдения попали в приватную, вы не знаете, и всегда сдаёте `solution.csv` с одним и тем же набором индексов.

Публичная таблица лидеров строится по публичной части тестов и доступна сразу же.

Место команды в приватной таблице `kaggle` посчитает после окончания соревнования по приватной выборке.

### Ограничения

Всего *__12 попыток__* (по 6 в сутки).

В результате вы можете назначить *__2 модели__* для приватного тестирования. Если вы ничего не назначите, система выберет две с лучшим `score` на публичной тестовой выборке.

## Что нужно сдавать, кроме модели

1. __Краткая аннотация__ с описанием основной идеи решения – на платформе хакатона.

2. Ссылка на любой __открытый репозиторий с моделью, кодом, с помощью которого строилась модель, и кодом, запускающим ее__.

## Критерии оценки

**70 баллов** распределяется в соответствии с  результатом, который ML-модель показала на kaggle-соревновании. Учитывается не место в турнирной таблице напрямую, а значение ошибки на тестовой выборке относительно величины ошибок других участников. По результатам kaggle-соревнования на очную защиту перед жюри допускается не более 10 команд.

**30 баллов** распределяется по результатам оценки кода, выложенного в открытый репозиторий, а также выступления на очной защите в соответствии со следующими критериями :

- Обоснованность выбранных методов для построения модели (**15 баллов**);
- Оригинальность подхода, в частности, использование дополнительных данных из открытых источников для повышения качества модели (**5 баллов**);
- Качество кода: его чистота и понятность (**5 баллов**);
- Качество очной защиты: последовательность и понятность изложения (**5 баллов**).