In [1]:
%load_ext autoreload
%autoreload 2

In [155]:
from  process import *

In [19]:
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error

In [139]:
# Основная выборка, разбитая на train и test

train = pd.read_csv(Path('../data/raw/train.csv'), sep=';')
test = pd.read_csv(Path('../data/raw/test.csv'), sep=';')

# Дополнительные данные 

ed = pd.read_csv(Path('../data/raw/education.csv'), sep=';')
ws = pd.read_csv(Path('../data/raw/worldskills.csv'), sep=';')
em = pd.read_csv(Path('../data/raw/employements.csv'), sep=';')

C:\Users\glebe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [140]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [142]:
train, test = merge_all(train, test, em, ws, ed)

In [147]:
train, test = set_age(train, test )

In [151]:
train.head(5)

,id,position,region,industry,locality,locality_name,education_type,drive_licences,citizenship,schedule,employement_type,age,gender,experience,salary_desired,relocation_ready,travel_ready,retraining_ready,is_worldskills_participant,has_qualifications,completeness_rate,creation_date,modification_date,publish_date,salary,position_em,employer_em,achievements_em,responsibilities_em,start_date_em,finish_date_em,status_ws,code_ws,is_international_ws,int_name_ws,ru_name_ws,graduation_year_ed,institution_ed,description_ed,we_age_mnth,unemp,pub_age_mnth
0,0,Специалист,Тульская область,"Государственная служба, некоммерческие организ...",7100000100000,Тула,Незаконченное высшее,[B],Российская Федерация,Полный рабочий день,Полная занятость,21.0,Мужской,3,35000,False,False,True,NaN,NaN,64.0,2020-05-07,2020-05-08,2020-05-07,37500,NaN,"ПАО ""МегаФон""",NaN,<p>Консультирование клиентов по телефону. Прод...,2019-06-01,2020-04-01,NaN,NaN,NaN,NaN,NaN,2022.0,"""Тульский государственный университет""",NaN,10.0,True,59
1,1,Лаборант,Алтайский край,"Государственная служба, некоммерческие организ...",2200000100000,Барнаул,Высшее,[B],Российская Федерация,Полный рабочий день,Полная занятость,26.0,Женский,4,15000,False,True,True,NaN,NaN,88.0,2020-10-21,2020-10-27,2020-10-27,14000,Копирайтер/рерайтер,WorkHardOnline,NaN,<p><strong>✑</strong><strong>Фриланс</strong><...,2019-10-01,NaT,NaN,NaN,NaN,NaN,NaN,2016.0,"""Алтайский государственный аграрный университет""",NaN,-1.0,False,65
2,3,"Специалист, администратор, бухгалтер, экономист",Ульяновская область,"Административная работа, секретариат, АХО",7300000200000,Димитровград,Высшее,[B],Российская Федерация,Полный рабочий день,Полная занятость,36.0,Женский,12,20000,False,NaN,True,NaN,NaN,78.0,2019-04-25,2020-02-04,2020-02-04,24600,Консультант,ПАО Почта Банк,NaN,"<p>Работа с клиентами, оформление договоров</p>",2016-04-01,NaT,NaN,NaN,NaN,NaN,NaN,2003.0,ГОУ СПО ДИМИТРОВГРАДСКИЙ ТЕХНИЧЕСКИЙ КОЛЛЕДЖ,NaN,-1.0,False,56
3,4,Специалист,Свердловская область,"Государственная служба, некоммерческие организ...",6600002300000,Нижний Тагил,Высшее,[B],Российская Федерация,Полный рабочий день,Полная занятость,34.0,Женский,9,30000,False,False,False,NaN,NaN,91.0,2020-09-19,2020-09-20,2020-09-19,16075,Старший специалист по привлечению клиентов,"ОАО Банк ""Открытие""",<p>Расширила базу клиентов</p>,"<p>Обслуживание физических лиц, активное привл...",2011-07-01,2013-01-01,NaN,NaN,NaN,NaN,NaN,2005.0,Нижнетагильский торгово-экономический техникум,NaN,18.0,True,64
4,5,Инструктор по плаванию,Иркутская область,"Здравоохранение, спорт, красота, социальное об...",3800000400000,Ангарск,NaN,NaN,Российская Федерация,Полный рабочий день,Полная занятость,25.0,Мужской,1,40000,False,NaN,NaN,NaN,NaN,58.0,2020-04-20,2020-09-09,2020-04-21,22080,Инструктор по плаванию,"ООО ""АЦСМ""",<p>Прохождение курсов повышения квалификации&n...,<p>Проведение обучающих и оздоровительных заня...,2019-06-01,2020-04-01,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,10.0,True,59

In [153]:
train[NUM_FEATURES] = train[NUM_FEATURES].fillna(-1)
train[IMP_SPACE] = train[IMP_SPACE].fillna('')
train_n = train.drop(columns=DROP_FEATURES)

In [158]:
test[NUM_FEATURES] = test[NUM_FEATURES].fillna(-1)
test[IMP_SPACE] = test[IMP_SPACE].fillna('')
test_n = test.drop(columns=DROP_FEATURES)

In [159]:
for c in train_n.columns:
    print_det(c, train_n, test_n)

Feature id

train shape 306270

details train count    306270.000000
mean     218700.540370
std      126304.952581
min           0.000000
25%      109335.250000
50%      218685.500000
75%      328055.750000
max      437525.000000
Name: id, dtype: float64

test shape 131259

details test count    131259.000000
mean     218912.071987
std      126301.758751
min           2.000000
25%      109499.000000
50%      218986.000000
75%      328305.500000
max      437528.000000
Name: id, dtype: float64

---------------------------------
Feature position

train shape 306270

details train count         306270
unique         77762
top       Специалист
freq           10098
Name: position, dtype: object

test shape 131259

details test count         131259
unique         38139
top       Специалист
freq            4282
Name: position, dtype: object

---------------------------------
Feature region

train shape 306270

details train count                 306270
unique                    87
top       Краснодарский край
freq                   20535
Name: region, dtype: object

test shape 131259

details test count                 131259
unique                    87
top       Краснодарский край
freq                    8854
Name: region, dtype: object

---------------------------------
Feature industry

train shape 306270

details train count                                        306270
unique                                           33
top       Административная работа, секретариат, АХО
freq                                          32695
Name: industry, dtype: object

test shape 131259

details test count                                        131259
unique                                           33
top       Административная работа, секретариат, АХО
freq                                          14085
Name: industry, dtype: object

---------------------------------
Feature locality

train shape 306270

details train count            306270
unique            12365
top       7800000000000
freq              12848
Name: locality, dtype: object

test shape 131259

details test count            131259
unique             7809
top       7800000000000
freq               5467
Name: locality, dtype: object

---------------------------------
Feature locality_name

train shape 306270

details train count     306270
unique      8685
top
freq       15492
Name: locality_name, dtype: object

test shape 131259

details test count     131259
unique      5808
top
freq        6669
Name: locality_name, dtype: object

---------------------------------
Feature education_type

train shape 306270

details train count     306270
unique         5
top       Высшее
freq      135436
Name: education_type, dtype: object

test shape 131259

details test count     131259
unique         5
top       Высшее
freq       58161
Name: education_type, dtype: object

---------------------------------
Feature drive_licences

train shape 306270

details train count     306270
unique        30
top
freq      184345
Name: drive_licences, dtype: object

test shape 131259

details test count     131259
unique        28
top
freq       78903
Name: drive_licences, dtype: object

---------------------------------
Feature citizenship

train shape 306270

details train count                   306270
unique                      12
top       Российская Федерация
freq                    305097
Name: citizenship, dtype: object

test shape 131259

details test count                   131259
unique                      12
top       Российская Федерация
freq                    130767
Name: citizenship, dtype: object

---------------------------------
Feature schedule

train shape 306270

details train count                  306270
unique                     63
top       Полный рабочий день
freq                   235407
Name: schedule, dtype: object

test shape 131259

details test count                  131259
unique                     63
top       Полный рабочий день
freq                   101207
Name: schedule, dtype: object

---------------------------------
Feature employement_type

train shape 306270

details train count               306270
unique                   6
top       Полная занятость
freq                287403
Name: employement_type, dtype: object

test shape 131259

details test count               131259
unique                   6
top       Полная занятость
freq                123353
Name: employement_type, dtype: object

---------------------------------
Feature age

train shape 306270

details train count    306270.000000
mean         34.726346
std          13.730726
min          -1.000000
25%          27.000000
50%          34.000000
75%          42.000000
max        1936.000000
Name: age, dtype: float64

test shape 131259

details test count    131259.000000
mean         34.747476
std          12.412853
min          -1.000000
25%          27.000000
50%          34.000000
75%          42.000000
max        1823.000000
Name: age, dtype: float64

---------------------------------
Feature gender

train shape 306270

details train count      306270
unique          3
top       Женский
freq       172334
Name: gender, dtype: object

test shape 131259

details test count      131259
unique          3
top       Женский
freq        73937
Name: gender, dtype: object

---------------------------------
Feature experience

train shape 306270

details train count    306270.000000
mean          5.748225
std           7.745237
min           0.000000
25%           0.000000
50%           3.000000
75%           9.000000
max         937.000000
Name: experience, dtype: float64

test shape 131259

details test count    131259.000000
mean          5.747286
std           7.884385
min           0.000000
25%           0.000000
50%           3.000000
75%           9.000000
max        1019.000000
Name: experience, dtype: float64

---------------------------------
Feature salary_desired

train shape 306270

details train count    3.062700e+05
mean     3.364235e+04
std      2.272811e+04
min     -8.304000e+04
25%      2.000000e+04
50%      3.000000e+04
75%      4.000000e+04
max      1.069556e+06
Name: salary_desired, dtype: float64

test shape 131259

details test count    1.312590e+05
mean     3.366976e+04
std      2.357696e+04
min      0.000000e+00
25%      2.000000e+04
50%      3.000000e+04
75%      4.000000e+04
max      1.143107e+06
Name: salary_desired, dtype: float64

---------------------------------
Feature relocation_ready

train shape 306270

details train count     306270
unique         3
top        False
freq      190747
Name: relocation_ready, dtype: object

test shape 131259

details test count     131259
unique         3
top        False
freq       81683
Name: relocation_ready, dtype: object

---------------------------------
Feature travel_ready

train shape 306270

details train count     306270
unique         3
top         True
freq      120783
Name: travel_ready, dtype: object

test shape 131259

details test count     131259
unique         3
top         True
freq       51981
Name: travel_ready, dtype: object

---------------------------------
Feature retraining_ready

train shape 306270

details train count     306270
unique         3
top         True
freq      222086
Name: retraining_ready, dtype: object

test shape 131259

details test count     131259
unique         3
top         True
freq       95172
Name: retraining_ready, dtype: object

---------------------------------
Feature is_worldskills_participant

train shape 306270

details train count     306270
unique         3
top
freq      306076
Name: is_worldskills_participant, dtype: object

test shape 131259

details test count     131259
unique         3
top
freq      131172
Name: is_worldskills_participant, dtype: object

---------------------------------
Feature has_qualifications

train shape 306270

details train count     306270
unique         2
top
freq      303736
Name: has_qualifications, dtype: object

test shape 131259

details test count     131259
unique         2
top
freq      130220
Name: has_qualifications, dtype: object

---------------------------------
Feature completeness_rate

train shape 306270

details train count    306270.000000
mean         69.068528
std          17.125725
min           0.000000
25%          61.000000
50%          71.000000
75%          81.000000
max         100.000000
Name: completeness_rate, dtype: float64

test shape 131259

details test count    131259.000000
mean         69.078577
std          17.080591
min          -1.000000
25%          61.000000
50%          71.000000
75%          81.000000
max         100.000000
Name: completeness_rate, dtype: float64

---------------------------------
Feature salary

train shape 306270

details train count    3.062700e+05
mean     4.094132e+04
std      3.535889e+04
min      0.000000e+00
25%      2.162300e+04
50%      3.091200e+04
75%      4.750000e+04
max      2.283641e+06
Name: salary, dtype: float64

---------------------------------
Feature status_ws

train shape 306270

details train count     306270
unique         3
top
freq      305337
Name: status_ws, dtype: object

test shape 131259

details test count     131259
unique         3
top
freq      130870
Name: status_ws, dtype: object

---------------------------------
Feature graduation_year_ed

train shape 306270

details train count    306270.000000
mean       1723.400774
std         700.026880
min          -1.000000
25%        1994.000000
50%        2007.000000
75%        2015.000000
max        2030.000000
Name: graduation_year_ed, dtype: float64

test shape 131259

details test count    131259.000000
mean       1719.177481
std         704.283564
min          -1.000000
25%        1994.000000
50%        2007.000000
75%        2015.000000
max        2030.000000
Name: graduation_year_ed, dtype: float64

---------------------------------
Feature we_age_mnth

train shape 306270

details train count    306270.000000
mean         24.157590
std          47.068228
min          -1.000000
25%          -1.000000
50%           5.000000
75%          27.000000
max         610.000000
Name: we_age_mnth, dtype: float64

test shape 131259

details test count    131259.00000
mean         24.23411
std          47.60963
min          -1.00000
25%          -1.00000
50%           5.00000
75%          27.00000
max         574.00000
Name: we_age_mnth, dtype: float64

---------------------------------
Feature unemp

train shape 306270

details train count     306270
unique         2
top         True
freq      206188
Name: unemp, dtype: object

test shape 131259

details test count     131259
unique         2
top         True
freq       88236
Name: unemp, dtype: object

---------------------------------
Feature pub_age_mnth

train shape 306270

details train count    306270.000000
mean         57.463983
std           9.206097
min           0.000000
25%          58.000000
50%          60.000000
75%          63.000000
max          66.000000
Name: pub_age_mnth, dtype: float64

test shape 131259

details test count    131259.000000
mean         57.418028
std           9.286942
min           1.000000
25%          58.000000
50%          60.000000
75%          63.000000
max          66.000000
Name: pub_age_mnth, dtype: float64

---------------------------------

In [161]:
from catboost import CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split

In [199]:
X_train, X_val = train_test_split(train_n.drop(columns=['id']), train_size=0.7, random_state=42)

In [200]:
set(CAT_FEATURES) - set(train_n.columns)

set()

In [201]:
train_pool = Pool(X_train.drop(columns=['salary']), np.log(X_train['salary']+1), cat_features=CAT_FEATURES)

In [202]:
val_pool = Pool(X_val.drop(columns=['salary']), np.log(X_val['salary']+1), cat_features=CAT_FEATURES)

In [203]:
est = CatBoostRegressor(random_state=42, 
                        task_type="GPU", 
#                         objective="Tweedie:variance_power=1.5", 
                        objective="RMSE",
#                         eval_metric="MSLE"
                       )

In [204]:
est.fit(train_pool, eval_set=val_pool, verbose_eval=100)

Learning rate set to 0.168344
0:	learn: 1.0899571	test: 1.0813900	best: 1.0813900 (0)	total: 63.6ms	remaining: 1m 3s
100:	learn: 1.0126256	test: 1.0048675	best: 1.0048675 (100)	total: 5.53s	remaining: 49.3s
200:	learn: 1.0057399	test: 1.0027772	best: 1.0027772 (200)	total: 11s	remaining: 43.7s
300:	learn: 1.0011407	test: 1.0020262	best: 1.0020262 (300)	total: 16.4s	remaining: 38.1s
400:	learn: 0.9977656	test: 1.0019606	best: 1.0018903 (373)	total: 21.9s	remaining: 32.7s
500:	learn: 0.9947972	test: 1.0018297	best: 1.0017658 (450)	total: 27.4s	remaining: 27.3s
600:	learn: 0.9917458	test: 1.0013533	best: 1.0013336 (594)	total: 33.1s	remaining: 21.9s
700:	learn: 0.9894006	test: 1.0017494	best: 1.0013056 (603)	total: 38.7s	remaining: 16.5s
800:	learn: 0.9870993	test: 1.0017669	best: 1.0013056 (603)	total: 44.2s	remaining: 11s
900:	learn: 0.9850371	test: 1.0019176	best: 1.0013056 (603)	total: 49.9s	remaining: 5.48s
999:	learn: 0.9830366	test: 1.0023909	best: 1.0013056 (603)	total: 55.4s	remaining: 0us
bestTest = 1.00130561
bestIteration = 603
Shrink model to first 604 iterations.

In [205]:
predict = np.exp(est.predict(val_pool))-1

In [206]:
predict[predict<0]

array([], dtype=float64)

In [207]:
from sklearn.metrics import mean_squared_log_error

In [208]:
np.sqrt(mean_squared_log_error(X_val['salary'], predict))

1.0013057978090611

In [211]:
np.sqrt(mean_squared_log_error(X_train['salary'], np.exp(est.predict(train_pool))-1))

0.9706161322898464

In [213]:
est.fit(train_n.drop(columns=['id', 'salary']), 
        np.log(train_n['salary']+1), 
        verbose_eval=100,
       cat_features=CAT_FEATURES)

Learning rate set to 0.165241
0:	learn: 1.0875085	total: 72.3ms	remaining: 1m 12s
100:	learn: 1.0089713	total: 6.16s	remaining: 54.8s
200:	learn: 1.0030758	total: 12.3s	remaining: 49.1s
300:	learn: 1.0001120	total: 18.7s	remaining: 43.4s
400:	learn: 0.9976226	total: 25s	remaining: 37.4s
500:	learn: 0.9947379	total: 31.4s	remaining: 31.3s
600:	learn: 0.9920457	total: 37.8s	remaining: 25.1s
700:	learn: 0.9899529	total: 44.2s	remaining: 18.8s
800:	learn: 0.9879212	total: 50.6s	remaining: 12.6s
900:	learn: 0.9860758	total: 56.9s	remaining: 6.26s
999:	learn: 0.9845388	total: 1m 3s	remaining: 0us

In [224]:
train_n.columns

Index(['id', 'position', 'region', 'industry', 'locality', 'locality_name',
       'education_type', 'drive_licences', 'citizenship', 'schedule',
       'employement_type', 'age', 'gender', 'experience', 'salary_desired',
       'relocation_ready', 'travel_ready', 'retraining_ready',
       'is_worldskills_participant', 'has_qualifications', 'completeness_rate',
       'salary', 'status_ws', 'graduation_year_ed', 'we_age_mnth', 'unemp',
       'pub_age_mnth'],
      dtype='object')

In [214]:
np.sqrt(mean_squared_log_error(train_n['salary'], 
                               np.exp(est.predict(train_n.drop(columns=['id', 'salary'])))-1))

0.959510799941904

In [217]:
predict=np.exp(est.predict(test_n.drop(columns=['id'])))-1

In [219]:
sub = test_n[['id']].copy()

In [221]:
sub['salary'] = predict

In [223]:
sub.to_csv(Path('../submissions/cb_sub.csv'), index=False, sep=",")